Source: dvdbackup
Section: utils
Priority: optional
Maintainer: Stephen Gran <sgran@debian.org>
Uploaders: Benjamin Drung <benjamin.drung@gmail.com>
Build-Depends: debhelper (>= 5.0), libdvdread-dev (>=0.9.6)
Standards-Version: 3.8.0
Homepage: http://dvdbackup.sourceforge.net
Vcs-Svn: svn://svn.debian.org/svn/pkg-dvdbackup/trunk/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-dvdbackup/trunk/

Package: dvdbackup
Architecture: any
Depends: ${shlibs:Depends}
Suggests: libdvdcss2
Description: tool to rip DVD's from the command line
 dvdbackup will extract all (or optionally only selected) titles as found
 on the dvd.  It will structure the extracted files in a format suitable for
 burning at a later time with genisoimage and dvdrecord.  Has the advantage of
 being very easy to use, small, and fast.

Package: dvdbackup-dbg
Architecture: any
Priority: extra
Depends: dvdbackup
Description: debug files for dvdbackup
 This package contains the stripped debugging symbols from dvdbackup.
