Source: dvdbackup
Section: video
Priority: optional
Maintainer: Stephen Gran <sgran@debian.org>
Uploaders: Benjamin Drung <bdrung@debian.org>
Build-Depends: debhelper (>= 9), dh-autoreconf, libdvdread-dev (>= 4.1.3-4)
Standards-Version: 3.9.3
Homepage: http://dvdbackup.sourceforge.net
Vcs-Git: git://git.debian.org/git/pkg-dvdbackup/dvdbackup.git
Vcs-Browser: http://git.debian.org/?p=pkg-dvdbackup/dvdbackup.git;a=summary

Package: dvdbackup
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: libdvdcss2
Description: tool to rip DVD's from the command line
 dvdbackup will extract all (or optionally only selected) titles as found
 on the dvd.  It will structure the extracted files in a format suitable for
 burning at a later time with genisoimage and dvdrecord.  Has the advantage of
 being very easy to use, small, and fast.

Package: dvdbackup-dbg
Architecture: any
Section: debug
Priority: extra
Depends: dvdbackup (= ${binary:Version}), ${misc:Depends}
Description: debug files for dvdbackup
 dvdbackup will extract all (or optionally only selected) titles as found
 on the dvd.  It will structure the extracted files in a format suitable for
 burning at a later time with genisoimage and dvdrecord.  Has the advantage of
 being very easy to use, small, and fast.
 .
 This package contains the stripped debugging symbols from dvdbackup.
